.modern-version-block-cat:hover::after {
    border-top: 10px solid #384da2;
}
a , a:hover, a:focus {
	color: #3f56b4;
}
.ad-favourited i.fa.fa-heart, .product-description .product-description-text p, .description-right-area .description-new-prices,.ad-sidebar-profile .ad-prof-raing p,.ads-grid-container .ads-grid-content p i, .ads-grid-container .ads-grid-panel span,.box h4 a:hover, .category-grid-box .short-description h2 a:hover, .category-grid-box .view-details:hover, .ad-listing .content-area h3 a:hover, .car-details h4:hover, .post-title a:hover, .post-info a:hover, .popular-categories li a:hover, .font-color, .ad-location-gird .location-title-disc h5:hover, .ad-location-gird .location-title-disc h5 a:hover, .footer-content .footer-widget .contact-info li:hover, .footer-content .footer-widget.links-widget li a:hover, .footer-content .news-widget .news-post a:hover, ul.category-list-style li a:hover, .funfacts h4 span, .singlepost-content .descs-box .short-history li b, .singlepost-content .descs-box .short-history li b a, .descs-box i, .share-ad .modal-body p a, .item-date a, .blog-sidebar .widget .widget-content .tagcloud a:hover, .blog-sidebar .widget .widget-content ul li a:hover, .comming-soon-grid .count-down #clock > span, .features .features-text h3:hover, .features .features-text h3 a:hover, .site-map-list li a:hover , .header-top ul li a:hover, .ad-archive-desc h2:hover, .ad-archive-desc h2 a:hover , .footer-area .contact-info li .icon , .heading-color , .ad-preview-details .overview-price span , .ad-listing .content-area .price , .category-grid-box-1 a:hover, .category-grid i , .hero .content p:first-child b , ul.category-list-data li:hover::before, ul.category-list-data li:hover a , ul.category-list-data li:hover a span , .category-list-title h5 > a:hover , .view-more a:hover , .category-grid-box .short-description .price , ul.category-list-style li:hover a i , .sidebar .side-menu nav .nav > li > a:hover , .filter-brudcrums-sort ul li a:hover , .skin-minimal .list li label:hover , .advertising .banner .submit , .recent-ads .recent-ads-list-price , .bread-3.page-header-area .small-breadcrumb .breadcrumb-link ul li a.active , .ad .content-zone .short-description-1 h2 a:hover , .user-profile ul li:hover a, .user-profile ul li.active a , .dashboard-menu-container ul li.active .menu-name , .dashboard-menu-container ul li:hover .menu-name , .tags-share .tags ul li a , .comment-list .comment .comment-info .author-desc .author-title li a:hover , .why-us:hover i, .why-us:hover h5 , .card .nav-tabs > li.active > a, .card .nav-tabs > li > a:hover , .accordion-title a:hover , .usefull-info .info-content h3:hover ,.mega-menu .drop-down a:hover, .mega-menu .drop-down-tab-bar a:hover , .ad-price , .recent-ads .recent-ads-list-title a:hover , .singleContadds i , .white.category-grid-box-1 .ad-info-1 ul li:hover, .white.category-grid-box-1 .ad-info-1 ul li a:hover , .widget.widget-content ul li a:hover , body .woocommerce table.shop_table tr.cart_item td a:hover , body .woocommerce table.shop_table td.product-remove a.remove:hover , .blog-post .post-excerpt a strong:hover , .category-list:hover .category-list-title h5 a , .category-list:hover .view-more a , .copyright-content p a , .content-zone .short-description-1 .list-3-short-info li a:hover , .single-blog.blog-detial .blog-post .post-excerpt p a, .message-inbox .message-header span a:hover, .message-inbox .message-header span a.active .footer-top .widget.my-quicklinks ul li a:hover , .listing-detail .listing-content .listing-title a:hover , .listing-detail .listing-content ul li span span.padding_cats a:hover , .new-small-grid-description h3 a:hover , .category_gridz .title:hover, .details-text-section .details-price, .details-post-ad .new-details-pages-links li a span, .single-details-page-links .single-details-list li a i, .single-details-page-links-right .reporting_section li a i, .new-feature-products span {
	color: #3f56b4 !important;
}
.featured-slider .owl-controls .owl-nav .owl-next:hover, .featured-slider .owl-controls .owl-nav .owl-prev:hover .ms-layer.btn3:hover, .home-category-slider .category-slider .owl-controls .owl-nav .owl-next:hover, .home-category-slider .category-slider .owl-controls .owl-nav .owl-prev:hover, .subscribe button:hover , .featured-slider-1 .owl-controls .owl-nav .owl-next:hover, .featured-slider-1 .owl-controls .owl-nav .owl-prev:hover , .sticky-post-button:hover , .btn-light:hover , .featured-slider-3 .owl-controls .owl-nav .owl-next:hover, .featured-slider-3 .owl-controls .owl-nav .owl-prev:hover, .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot, .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel button.owl-dot:hover, .shops-cart a   {
	background-color: #384da2 !important;
}
.sb-social-mobile a .fa,.shop-overlay-box .shop-icon, .ad-sidebar-form .ad-6-message::before, .app-download-button.hover, .app-download-button:hover, .app-download-button.focus, .app-download-button:focus, .app-download-button:active, .app-download-button.active, .ms-layer.btn3, .minimal-footer-1 .widget .social-links a:hover, .subscribe button, .social-area-share > a:hover , .search-section .search-options > li .btn.btn-danger:hover , .featured-slider-1 .owl-controls .owl-nav .owl-next, .featured-slider-1 .owl-controls .owl-nav .owl-prev , .featured-slider .owl-controls .owl-nav .owl-next, .featured-slider .owl-controls .owl-nav .owl-prev, .featured-slider-3 .owl-controls .owl-nav .owl-next, .featured-slider-3 .owl-controls .owl-nav .owl-prev  , .small-breadcrumb .breadcrumb-link ul li a::after , .user-profile .badge , .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y , .sticky-post-button , .select2-container--default .select2-results__option--highlighted[aria-selected] ,  .mega-menu .menu-links > li.activeTriggerMobile{
	background-color: #3f56b4 !important;
}
span.app-store-btn:hover, .social-links-two a:hover , .search-section .search-options > li .btn.btn-danger:hover, .details-buttons .details-click-view .btn-primary, .details-buttons .details-messages .btn-primary  {
	border: 1px solid #3f56b4 !important;
}
.slide-thumbnail .flex-active-slide img {
	border-color: #3f56b4 !important;
}
.pagination > .active > a:hover, .pagination li:hover > a, .pagination > .active > a , .category-grid .custom-cat:hover , .pricing .featured a.btn-theme:hover , .btn-orange,.header-social-h2 .list-inline li .btn-primary {
	background-color: #3f56b4;
	border-color: #384da2;
	color: #fff !important;
}
.small-breadcrumb .breadcrumb-link ul li a.active {
    border-bottom: 4px solid #3f56b4;
    color: #3f56b4;
    font-weight: 600;
}
.popup-cls.close::before {
	border-color: rgba(0, 0, 0, 0) #3f56b4;
	border-style: solid;
	border-width: 0 70px 70px 0;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	z-index: -1;
}
.grid-panel .location-icon i , .widget-newsletter .fieldset form .submit-btn , .ad-listing .adf-content .additional-info li a:hover , .noUi-connect , .card .nav-tabs > li > a::after , .ad-listing-price p , .mega-menu .drop-down-multilevel li.activeTriggerMobile , .mega-menu .drop-down-multilevel li:hover , .new-shortcode .tab .nav-tabs li.active a, .new-shortcode .tab .nav-tabs li a:hover{
	background: #3f56b4 none repeat scroll 0 0 !important;
}
.cd-top {
	background: #3f56b4 url(../../images/cd-top-arrow.svg) no-repeat center 50%;
}
.heading-panel .main-title {
    border-bottom: 2px solid #3f56b4;
}

.mega-menu .drop-down a, .mega-menu .drop-down-tab-bar a  {
	color:#232323;	
}
.mega-menu .menu-search-bar li .btn:hover{
	color:#fff;	
}
.btn-theme , .btn-light {
	color: #ffffff;
	background-color: #3f56b4;
	border-color: #5266bb;
}
.btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme , .btn-orange:hover, .header-social-h2 .list-inline li .btn-primary:hover{
	color: #ffffff;
	background-color: #384da2;
	border-color: #5266bb;
}
.btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme {
	background-image: none;
}
.btn-theme.disabled, .btn-theme[disabled], fieldset[disabled] .btn-theme, .btn-theme.disabled:hover, .btn-theme[disabled]:hover, fieldset[disabled] .btn-theme:hover, .btn-theme.disabled:focus, .btn-theme[disabled]:focus, fieldset[disabled] .btn-theme:focus, .btn-theme.disabled:active, .btn-theme[disabled]:active, fieldset[disabled] .btn-theme:active, .btn-theme.disabled.active, .btn-theme[disabled].active, fieldset[disabled] .btn-theme.active {
	background-color: #3f56b4;
	border-color: #5266bb;
}
.btn-theme .badge {
	color: #3f56b4;
	background-color: #ffffff;
}

.country-box:hover .country-description {
	background-color: rgba(0, 166, 81, 0.8);
}
.profile-tabs .nav-tabs {
	border-color: -moz-use-text-color -moz-use-text-color #3f56b4 ;
}
.user-profile ul li.active a::before {
	border-left: 9px solid #3f56b4;
}
.user-profile ul li.active a {
	border-left: 3px solid #3f56b4;
}
.sb_tag, div.sidebar .ad-type, .details-buttons .details-click-view .btn-primary
{
	 background: #3f56b4 !important;
}
.mat-hero-text-section h1 span, .tech-mac-book h1 span, .tech-latest-primary-section h3 .explore-style, .tech-view-section h2 span, .land-classified-heading h3 span, .land-classified-text-section .list-inline li i, .land-qs-heading-section h3 span, .land-one-rating i, .mat-new-candidates-categories p, .shop-great-products .shop-old-price strike{color:#3f56b4 !important;}
.tech-new-great-product .new-all-categories, .shop-great-products .shops-cart a{background-color: #3f56b4 !important;}
.tech-new-prices strike { color: #3f56b4 !important; }
.land-one-slider-2 div.owl-dots button.owl-dot{ background-color: transparent !important; }

.tabbable-line > .nav-tabs > li.active > a {background-color: #3f56b4 !important;}
.srvs-prov-text h4 {color: #3f56b4;}
.sb-header-top3 .sb-mob-top-bar {background:#3f56b4 !important;; }

.sw-theme-default>ul.step-anchor>li>a::after {background: #3f56b4 !important; }
.postdetails .sw-theme-default > ul.step-anchor > li.active > a {color: #3f56b4 !important; }
.sw-theme-default>ul.step-anchor>li.done>a::after {background: #5cb85c !important;}
.listing-detail .listing-content span.listing-price,.adforest-user-ads b {color: #3f56b4 !important;}

.toys-hero-section .toys-new-accessories .toys-hero-content{background: #3f56b4 !important;}
.toys-call-to-action{background-color: #3f56b4;}
.sb-header-top4 .sb-dec-top-ad-post a i, .des-hero-adres p i,.des-us-details ul li,.des-price ul li span,.prop-estate-text-section p i{color: #3f56b4 !important;}
.sprt-header-box i{background: #3f56b4 !important;}
.sb-modern4-header .sb-bk-search-area .sb-bk-side-btns .sb-bk-srch-links .sb-bk-srch-contents .sb-bk-absolute{background:#3f56b4;}
.sb-modern4-header .sb-bk-search-area .sb-bk-side-btns .sb-bk-srch-links .sb-bk-srch-contents li:first-child{border: 1px solid #3f56b4;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{background: #3f56b4 !important;}
.rtl .sb-dec-top-bar {background: linear-gradient(90deg, #3f56b4 69%, #fff 67%);}
.sb-modern4-header .sb-latest-book-menu .sb-sprt-header .sb-srvs-top-header .sb-top-header-3 .sb-top-header .mega-menu.menu-2 {background-color:#3f56b4;}
.top-bk-details p span{color: #65c422;}
@media (min-width: 1600px) and (max-width: 3000px) {
     .sb-dec-top-bar {
        background:linear-gradient(90deg, #ffffff 31%, #3f56b4 0%);
     }
}

@media (min-width: 320px) and (max-width: 767px) {
     .sb-dec-top-bar {
         background: linear-gradient(90deg, #ffffff 0%, #3f56b4 0%);
     }
}
@media (min-width: 768px) and (max-width: 1279px) {
     .sb-dec-top-bar {
         background: linear-gradient(90deg, #ffffff 0%, #3f56b4 0%);
     }
}
@media (min-width: 1280px) and (max-width: 1599px) {
     .sb-dec-top-bar {
         background: linear-gradient(90deg, #ffffff 27%, #3f56b4 0%);
     }
	 .rtl .sb-dec-top-bar {background: linear-gradient(90deg, #3f56b4 73%, #fff 67%);}
}
.new-featured-list-2 .btn-primary{background-color: #3f56b4;}
.select-buttons .btn-primary {background-color:#3f56b4;border-color:#3f56b4; }
.new-featured-list-2 .btn-primary:hover, .ad-sidebar-style,.sb-adpost-cats ul .sb-cat-box.sb-cat-active,.sb-adpost-cats ul .sb-cat-box:hover{background-color: #3f56b4;}
.social-links-two a:hover{background: #3f56b4 none repeat scroll 0 0;}
.tab-description .card .woocommerce-tabs ul li.active a {color: #3f56b4 ; border-bottom: 2px solid #3f56b4;}
.card.bid-state-2 .nav-tabs > li > a:hover {background: #3f56b4;   color: #FFF !important;}
.ad-price-tble .ad-pric-content .ad-pic-style{background: linear-gradient(to right, #ffc500, #3f56b4);}
.ad-price-tble .ad-pric-content .ad-pic-style .ad-pric-box h5::before, .ad-bid-pricetg span {background-color: #3f56b4;}
.ad-bid-pricetg span::before{border-right-color: #3f56b4;}